dist: trusty
language: rust
sudo: false

matrix:
  include:
      - rust: nightly
        env: FEATURES="--features nightly"
      - rust: beta
      - rust: stable

cache:
    apt: true
    directories:
        - target/debug/deps
        - target/debug/build

addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev

after_success: |
    [ $TRAVIS_RUST_VERSION = stable ] &&
    wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
    tar xzf master.tar.gz && mkdir kcov-master/build && cd kcov-master/build && cmake .. && make && make install DESTDIR=../tmp && cd ../.. &&
    ls target/debug &&
    ./kcov-master/tmp/usr/local/bin/kcov –-coveralls-id=$TRAVIS_JOB_ID –-exclude-pattern=/.cargo target/kcov target/debug/circbuf-*
